<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title th:text="${isCreation ? 'Создание автора' : 'Редактирование автора'}">Создание автора</title>

    <style>
        *
        {
            font-family: arial;
        }


    </style>

    <script defer>
        "use strict"

        document.addEventListener("DOMContentLoaded", function() {
            let name = document.querySelector(".name");
            let surname = document.querySelector(".surname");

            let year1 = document.querySelector(".year1");
            let year2 = document.querySelector(".year2");

            let country = document.querySelector(".country");

            let save = document.querySelector(".save");

            name.addEventListener('input', function(e) {
                name.value = name.value.replace(/[^a-zа-яё\s]/gi, '');
            });

            surname.addEventListener('input', function(e) {
                surname.value = surname.value.replace(/[^a-zа-яё\s]/gi, '');
            });

            year1.addEventListener('input', function(e) {
                year1.value = year1.value.replace(/[^0-9]/g, '');
            });

            year2.addEventListener('input', function(e) {
                year2.value = year2.value.replace(/[^0-9]/g, '');
            });

            name.onblur = function() {
                focus(this, false);
            }

            name.onfocus = function() {
                focus(this, true);
            }

            surname.onblur = function() {
                focus(this, false);
            }

            surname.onfocus = function() {
                focus(this, true);
            }

            country.onblur = function() {
                focus(this, false);
            }

            country.onfocus = function() {
                focus(this, true);
            }

            year1.onblur = function() {
                focus(this, false);
            }

            year1.onfocus = function() {
                focus(this, true);
            }

            save.addEventListener('click', function(e) {

                if (requiredCompleted()) {
                    e.preventDefault();
                }

            }, false);

            let focus = (obj, isFocus) => {

                if (obj.value != "" || isFocus) {
                    obj.style.border = "";
                } else {
                    obj.style.border = "1px solid #FF0000";
                }
            }

            let requiredCompleted = () => {
                return name.value == "" || surname.value == "" || year1.value == "" || year2.value == ""
                 || country.value == "";
            }

        }, false);
    </script>

</head>

<body>

    <h1 th:text="${isCreation ? 'Создание автора' : 'Редактирование автора'}"></h1>

    <form th:action="${isCreation ? '/author/create' : '/author/update'}" method="post">
        <p>Имя и отчество (при наличии)</p>
        <input th:value="${isCreation ? '' : currData.name}" type="text" name="name" class="out-value" />

        <p>Фамилия</p>
        <input th:value="${isCreation ? '' : currData.surname}" type="text" name="surname" class="surname" />

        <p>Годы жизни</p>
        <input th:value="${isCreation ? '' : currData.birthday}" type="text" name="birthday" class="year1" />
        <input th:value="${isCreation ? '' : currData.dateDeath}" type="text" name="dateDeath" class="year2" />

        <p>Страна</p>
        <input th:value="${isCreation ? '' : currData.country}" type="text" name="country" class="country" />

        <p>Изображение</p>
        <input type="file" name="file" />

        <p>Аннотация</p>
        <textarea th:text="${isCreation ? '' : currData.annotation}" name="annotation"></textarea>

        <input type="hidden" th:if="${!isCreation}" th:value="${currData.id}" name="id" />

        <div>
            <input type="submit" th:value="${isCreation ? 'Создать автора' : 'Сохранить изменения'}"
                   class="save" />
        </div>
    </form>

</body>
</html>