<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <link>
        <meta charset="UTF-8">
        <title>Поиск авторов</title>

        <link rel="stylesheet" href="/styles/directory-style.css" ></link>
        <link rel="stylesheet" href="/styles/common-style.css" ></link>

    </head>

    <body>

        <header style="display: inline-block">

            <div class="logotype" style="display: inline-block; vertical-align: middle">
                <h1>Электронная Библиотека</h1>
            </div>

            <div style="display: inline-block">
                <ul>
                    <li style="display: inline-block; vertical-align: middle; margin-right: 25px">
                        <a href="/" >Главная</a>
                    </li>
                    <li style="display: inline-block; vertical-align: middle; margin-right: 25px">
                        <a href="/authors" >Авторы</a>
                    </li>
                    <li style="display: inline-block; vertical-align: middle; margin-right: 25px">
                        <a href="/books" >Каталог книг</a>
                    </li>
                    <li style="display: inline-block; vertical-align: middle; margin-right: 25px">
                        <a href="/statistics" >Статистика</a>
                    </li>
                </ul>
            </div>

        </header>

        <div class="directory-title" >
            <h1 >Авторы</h1>
        </div>

        <form class="filter-form" action="/authors" method="get" autocomplete="off" >

            <div class="field" >
                <label class="parameter-name" >Поиск имени (отчеству)</label>
                <input type="text" name="name" class="parameter-value" id="name"
                    th:value="${name != null ? name : ''}" />
            </div>

            <div class="field" >
                <label class="parameter-name" >Поиск по фамилии</label>
                <input type="text" name="surname" class="parameter-value" id="surname"
                    th:value="${surname != null ? surname : ''}" />
            </div>

            <div class="field" >
                <label class="parameter-name" >Поиск по стране</label>
                <input type="text" name="country" class="parameter-value" id="country"
                    th:value="${country != null ? country : ''}" list="countries" />
            </div>
            <datalist id="countries">
                <div th:each="country : ${countries}">
                    <option th:value="${country}"></option>
                </div>
            </datalist>

            <input type="hidden" th:value="${100}" name="authId" />

            <input class="filter-button" type="submit" value="Применить фильтр" />

        </form>

        <form class="create-form" action="/author_creation" method="get">
            <input class="create-button" type="submit" value=" + Создать автора" />
        </form>

        <div class="directory-list" >
            <ul>
                <li class="list-row" th:each="author : ${authors}" >

                    <a class="entity-link" th:href="@{/authors/author(id=${author.id})}" >[[${author.name}]] [[${author.surname}]]</a>

                    <div class="setting-for-admin" th:if="${1 == 1}" >

                        <form class="redaction-form" action="/author/delete" method="post" >
                            <input type="hidden" name="id" th:value="${author.id}" />

                            <input type="submit" value="Удалить" id="delete" class="redaction-button" />
                        </form>

                        <form class="redaction-form" action="/author_update" method="get" >
                            <input type="hidden" name="id" th:value="${author.id}" >

                            <input type="submit" value="Редактировать" id="change" class="redaction-button" />
                        </form>

                    </div>

                </li>
            </ul>

        </div>

        <div class="page-navigator" th:each="pageNum : ${#numbers.sequence(${(page / 5) + 1}, ${countPage})}" >
            <a th:if="${num < (page / 5) + 5 + 1} || num == countPage" th:href="@{/books(name=${name}&surname=${surname}&country=${country}&page=${pageNum})}"></a>
            <p th:if="${num == ((page / 5) + 5 + 1)}" >...</p>
        </div>

    </body>

</html>