<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

    <head>
        <meta charset="UTF-8">
        <title th:text="${isCreation ? 'Создание книги' : 'Редактирование книги'}" >Создание книги</title>

        <link rel="stylesheet" href="/styles/creater-style.css" ></link>
        <link rel="stylesheet" href="/styles/common-style.css" ></link>

        <script src="/scripts/book-creater-script.js" defer ></script>

    </head>

    <body>

        <h1 th:text="${isCreation ? 'Создание книги' : 'Редактирование книги'}" ></h1>

        <form class="setting" method="post" enctype="multipart/form-data" 
                            th:action="${isCreation ? '/book/create' : '/book/update'}" >

            <div class="field" >
                <label class="parameter-name" >Название книги</label>
                <input required class="parameter-value" id="name" name="name"
                            th:value="${isCreation ? '' : currData.name}" type="text" />
            </div>

            <div class="field" >
                <label class="parameter-name" >Дата создания (начало)</label>
                <input required type="text" class="parameter-value" th:value="${isCreation ? '' : currData.yearCreation1}" 
                            id="yearCreation1" name="yearCreation1" autocomplete="off" />
            </div>

            <div class="field" >
                <label class="parameter-name" >Дата создания (конец - необязательно)</label>
                <input class="parameter-value" type="text" th:value="${isCreation ? '' : currData.yearCreation2}" 
                                id="yearCreation2" name="yearCreation2" autocomplete="off" />
            </div>

            <div class="field" >
                <label class="parameter-name" >Язык оригинала</label>
                <input required class="parameter-value" th:value="${isCreation ? null : currData.originalLanguage}"
                    id="originalLanguage" name="originalLanguage" list="languages" autocomplete="off" />
                <datalist id="languages" >
                    <div th:each="language : ${languages}">
                        <option th:value="${language.name}"></option>
                    </div>
                </datalist>
            </div>

            <div class="field" >
                <label class="parameter-name" >Жанр (направление)</label>
                <input required class="parameter-value" th:value="${isCreation ? '' : currData.genre}" 
                                    type="text" id="genre" name="genre" />
            </div>

            <div class="field" >
                <label class="parameter-name" >Аннотация</label>
                <textarea class="parameter-value" id="annotation" name="annotation"
                            th:text="${isCreation ? '' : currData.annotation}" ></textarea>
            </div>

            <div class="field" >
                <label class="parameter-name" >Файл с текстом</label>
                <input required id="file" type="file" name="file" accept=".docx" />
            </div>

            <input type="hidden" th:if="${!isCreation}" th:value="${currData.id}" name="id" />

            <input type="hidden" th:if="${forAuthor}" th:value="${authorId}" name="authorId" />

            <input class="create-button" type="submit"
                    th:value="${isCreation ? 'Создать книгу' : 'Сохранить изменения'}" />

        </form>

    </body>

</html>
