<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

    <head>
        <meta charset="UTF-8">
        <title>[[${book.name}]]</title>

        <style>
            *
            {
                font-family: arial;
            }

            #title
            {
                position: relative;
                left: 300px;
            }

            #comment-field
            {
                width: 700px;
                height: 100px;
                resize: none;
            }

        </style>

        <script src='https://code.jquery.com/jquery-3.1.1.min.js' defer></script>
        <script>
            "use strict"

            document.addEventListener("DOMContentLoaded", function() {

                let request = new XMLHttpRequest();

                let setLike = document.querySelector('#set-like');

                setLike.addEventListener('click', (ev) => {
                    ev.preventDefault();

                    let bookId = document.querySelector('#book-id').value;

                    let url = "/book/add_like?bookId=" + bookId;

                    request.open('POST', url);
                    request.send();

                });

            }, false);
        </script>

    </head>

    <body>

        <form th:if="${1 == 1}" action="/book_update" method="get">
            <br>
            <input type="hidden" th:value="${book.id}" name="id" />

            <input type="submit" value="Редактировать сведения" />
        </form>

        <h1>[[${book.name}]]</h1>
        <div>Год написания: [[${book.yearCreation1}]]</div>
        <div>Язык оригинала: [[${book.originalLanguage}]]</div>
        <div>Жанр: [[${book.genre}]]</div>
        <div>Аннотация: [[${book.annotation}]]</div>

        <div id="sympathy">
            <p>Эта книга понравилась [[${book.countHeart}]] пользователям</p>
            <form th:if="${user != null}" id="set-like" >

                <input type="image" id="heart-button" src="/images/use-inter-images/heart_empty.jpg"
                             width="20px" height="20px" alt="" />

                <input type="hidden" name="book" id="book-id" th:value="${book.id}" />
                <input type="hidden" name="existsLike" id="exists-like" th:value="${exists-like}" />

            </form>
        </div>

        <hr>

        <div id="content">
            <div id="content-title">Содержание</div>

            <br>

            <div th:each="division : ${divisions}">

                <a th:href="@{/division(id=${division.id})}">
                    <span th:if="${division.numberPart != null}">Часть [[${division.numberPart}]]</span>
                    <span th:if="${!division.partName.equals('NULL')}">[[${division.partName}]]</span>
                    <span th:if="${division.numberChapter != null}">Глава [[${division.numberChapter}]]</span>
                    <span th:if="${!division.chapterName.equals('NULL')}">[[${division.chapterName}]]</span>
                </a>

            </div>
        </div>

        <hr>

        <div id="discussion">
            <h2 id="title-comment">Обсуждения</h2>
            <textarea id="comment-field" ></textarea>


        </div>

    </body>

</html>