<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Вход</title>

    <link rel="stylesheet" href="/styles/login-style.css" ></link>
    <link rel="stylesheet" href="/styles/common-style.css" ></link>

    <script src="/scripts/login-script.js" defer ></script>

</head>

<body>

    <div id="login-container" >
        <div id="filling" >
            <div id="login-logo" >
                <img id="emblem" th:src="@{/images/emblem.jpg}"
                        height="130" width="100" alt="" />
            </div>

            <form class="form-entrance" th:action="@{/login}" method="post" >

                <div class="field">
                    <input class="value" type="text" name="username" placeholder="Телефон или почта" >
                </div>

                <div class="field">
                    <input class="value" type="password" name="password" placeholder="Пароль" >
                </div>

                <div class="login-forom-sumbit-wrapper" >
                    <div class="login-forom-sumbit" >
                        <a href="/restore_password" >Забыл пароль ?</a>
                    </div>

                    <div class="login-forom-sumbit" >
                        <input class="jump-button" id="enter-button" type="submit" value="Войти">
                    </div>
                </div>

            </form>

            <form class="form-regis" th:action="@{/registration}" method="get" >
                <input class="jump-button" id="regis-button" type="submit" value="Зарегистрироваться">
            </form>

        </div>
    </div>

</body>

</html>