<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>

    <link rel="stylesheet" href="/styles/registration-style.css" ></link>
    <link rel="stylesheet" href="/styles/common-style.css" ></link>

    <script src="/scripts/registration-script.js" defer></script>

</head>

<body>

<h1 class="registration-label" >Регистрация</h1>

<div>

    <form class="form-registration" action="/registration" method="post" >

        <div class="field" >
            <label class="parameterName" >Имя и отчество (при наличии)</label>
            <input class="parameter-value" id="name" name="name" th:value="${error != null ? name : ''}" />
        </div>

        <div class="field" >
            <label class="parameterName" >Фамилия</label>
            <input class="parameter-value" id="surname" name="surname"
                   th:value="${error != null ? surname : ''}" />
        </div>

        <div class="field" >
            <label class="parameterName" >Дата Рождения</label>
            <input type="date" id="birthday" name="birthday" class="parameter-value"
                   th:value="${error != null ? birthday : ''}" />
        </div>

        <div class="field" >
            <label class="parameterName" >Город</label>
            <input class="parameter-value" id="city" name="city" th:value="${error != null ? city : ''}" />
        </div>

        <div class="field" >
            <label class="parameterName" >Логин (Email или номер телефона)</label>
            <input class="parameter-value" id="login" name="login" />
        </div>

        <div class="field" >
            <label class="parameterName" >Пароль</label>
            <input class="parameter-value" id="password" name="password" type="password" />
        </div>

        <div class="field" >
            <label class="parameterName" >Повтор пароля</label>
            <input class="parameter-value" id="password-repeat" type="password" />
        </div>

        <input class="regis" type="submit" value="Зарегистрироваться" />
        <p id="error" th:text="${error != null ? error : ''}" ></p>
    </form>

</div>

</body>
</html>