<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Статистика</title>

    <link rel="stylesheet" href="/styles/statistics-style.css" ></link>
    <link rel="stylesheet" href="/styles/common-style.css" ></link>

    <script src="/scripts/statistics-script.js" defer></script>

</head>

<body>

<header style="display: inline-block">

    <div class="logotype" style="display: inline-block; vertical-align: middle">
        <h1>Электронная Библиотека</h1>
    </div>

    <div style="display: inline-block">
        <ul>
            <li style="display: inline-block; vertical-align: middle; margin-right: 25px">
                <a href="/" >Главная</a>
            </li>
            <li style="display: inline-block; vertical-align: middle; margin-right: 25px">
                <a href="/authors" >Авторы</a>
            </li>
            <li style="display: inline-block; vertical-align: middle; margin-right: 25px">
                <a href="/books" >Каталог книг</a>
            </li>
            <li style="display: inline-block; vertical-align: middle; margin-right: 25px">
                <a href="/statistics" >Статистика</a>
            </li>
        </ul>
    </div>

</header>

<h1 id="title-statistics" >Статистика</h1>

<form id="form-create" action="/statistics">
    <label>Формировать по авторам</label>
    <input type="checkbox" id="checkbox-authors" />

    <label>Формировать по книгам</label>
    <input type="checkbox" id="checkbox-books" />

    <input type="hidden" name="obj" value="" id="action-name" />

    <input type="submit" value="Сформировать статистику" id="create-statistics-button" />
    <p id="statistics-error" ></p>
</form>

<table th:if="${object != null}" border="2" width="1000px">
    <thead>
        <tr>
            <th>ID</th>
            <th>[[${object.equals('authors') ? 'Автор' : ''}]][[${object.equals('books') ? 'Книга' : ''}]]</th>
            <th>Количество закладок [[${object.equals('authors') ? 'по всем книгам' : ''}]]</th>
        </tr>
    </thead>
    <tbody>
        <tr align="center" th:each="statistRow : ${statistics}">
            <td width="100px">[[${statistRow[0]}]]</td>
            <td width="700px" >[[${statistRow[1]}]]</td>
            <td>[[${statistRow[2]}]]</td>
        </tr>
    </tbody>
</table>

</body>

</html>